// 手机版去除默认input样式
.q-field .q-field__native {
  color: rgba(0, 0, 0, 0.87) !important;
}
.q-field .q-field__prefix {
  color: rgba(0, 0, 0, 0.87) !important;
}
.q-field .q-field__append {
  color: rgba(0, 0, 0, 0.54);
}
.q-field__control:before {
  background: #F5F6FA !important;
}
.q-field .q-field__control {
  background: #F5F6FA !important;
  border-radius: 10px !important;
  height: 50px !important;
  min-height: 50px !important;
  outline: none !important;
  box-shadow: none !important;
}
// 下拉框去除默认样式FF
.q-select .q-field__control:hover:before {
    opacity: 0;
  }
.q-select .q-field__prepend {
    padding-right: 0;
    color: #8F959E;
  }
.q-select .q-field__append {
    padding-left: 4px;
    font-size: 15px;
    color: #8F959E;
  }
.q-select .q-field__native {
    display: none;
  }
.q-select .q-field__append .q-icon {
    display: none;
  }
