/* 为所有的滚动条定义样式 */
html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* 定义滚动条轨道样式 */
html::-webkit-scrollbar-track {
  background: #f5f7fa;
}

/* 定义滚动滑块样式 */
html::-webkit-scrollbar-thumb {
  background: #dfdfdf;
  border-radius: 20px;
}

/* 定义滚动滑块悬浮样式 */
html::-webkit-scrollbar-thumb:hover {
  background: #c1c1c1;
}
// 取消button默认样式
// .q-field--standout .q-field__control {
//     color: $default !important;
//     background: #F5F6FA !important;
//     border-radius: 10px !important;
//     height: 50px !important;
//     min-height: 50px !important;
//     outline: none !important;
// }
//
// 登录注册的绿色文本
.login {
  color: #01ac66;
  cursor: pointer;
}
// logo大小
.logo {
  width: 70px;
  height: 70px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.iconLogo {
  width: 24px;
  height: 24px;
}

.countryLogo {
  width: 24px;
  height: 16px;
}
// 常用文本大小
.size16 {
  font-size: 16px;
}
.size24 {
  font-size: 24px;
}
.size20 {
  font-size: 20px;
}
.size22 {
  font-size: 22px;
}
#q-app {
  height: 100vh;
}
// 常用字体颜色
.text-color-3 {
  color: #333333 !important;
}

.text-color-6 {
  color: #666666;
}

.text-color-9 {
  color: #999999;
}

// 默认页面背景颜色
.page_bg {
  background-color: #f5f6fa;
}

// 圆角
.radius-8 {
  border-radius: 8px;
}

.radius-10 {
  border-radius: 10px;
}

.radius-x {
  border-radius: 9999px;
}
// pc端通用header
.pageHeader {
  width: 100%;
  padding: 33px 100px;
  background: #FAFAFA;
  font-size: 28px;
  color: #333;
  font-weight: bold;
}
// pc补全menu右侧元素的宽度(通用)
.calc {
  width: calc(100% - 268px);
  min-width: 1100px - 268px;
}
