.login {
    color: #01AC66;
    cursor: pointer;
  }

  .logo {
    width: 70px;
    height: 70px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .iconLogo {
    width: 24px;
    height: 24px;
  }
